/* Creat the square  */
.heart {
  background-color  : red;
  height            : 130px;
  margin            : 130px auto 200px;
  position          : relative;
  transform         : rotate(-45deg);
  width             : 130px;
}

/* Creat tow circle */
.heart:before,
.heart:after {
  content           : "";
  background-color  : red;
  border-radius     : 50%;
  height            : 130px;
  position          : absolute;
  width             : 130px;
}

.heart:before {
  top   : -65px;
  left  : 0;
}

.heart:after {
  left  : 65px;
  top   : 0;
}


/* Creat the moveing heart  */
.heart2 {
  fill       : red;
  position   : relative;
  top        : 5px;
  animation  : pulse 1s ease infinite;
  width      : 130px;

}

@keyframes pulse {
  0% {
    transform  : scale(1);
  }

  50% {
    transform  : scale(1.3);
  }

  100% {
    transform  : scale(1);
  }
}

.moveing-heart {
  text-align  : center;
}

.moveing-heart span {
  font-size  : 100px;
  margin     : 0 20px;
}